@import '../../../../src/assets/styles/utilities/tools';

.toaster {
    position: fixed;
    left: rem(20);
    top: rem(20);
    right: rem(20);

    @media (min-width: $breakpoint-small) {
        left: auto;
    }
}