@import '../../../../src/assets/styles/utilities/tools';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gray-0;
    padding: rem(0 24);
    height: rem(60);
}
