<div class="modal {{classes}}">
  <div class="modal__window">
    <div class="modal__head">
      <div class="modal__title">
          <ng-content select=[modal-header]></ng-content>
      </div>
      <div>
        <button class="modal__close-btn" title="close" (click)="closeModal()">+</button>
      </div>
    </div>
    <div class="modal__body">
      <ng-content select=[modal-body]></ng-content>
    </div>
    <div class="modal__footer">
        <ng-content select=[modal-footer]></ng-content>
      </div>
  </div>
</div>