.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);

    &__window {
        background: #fff;
        flex-direction: column;
        display: flex;
    }

    &__head {
        padding: 24px 32px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__close-btn {
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
        transform: rotate(45deg);
        background: transparent;
        border: 0;
        color: #555;
        outline: 0;
    }

    &__body {
        padding: 32px;
        overflow: auto;
    }

    &__footer {
        border-top: 1px solid #ccc;
        padding: 24px 32px;
    }

    @media(min-width: 768px) {
        justify-content: center;
        align-items: center;

        &__window {
            flex: 0 75%;
            max-height: 90%;
        }
    }
}