<div class="contacts">
  <div class="contacts__header">
    <div  class="contacts__title">
      My Contacts
    </div>
    <div class="contacts__dropdown">
        <select (change)="getContact($event)">
          <option *ngFor="let contact of contactNames" [value]="contact.id">
            {{ contact.name.first }} {{ contact.name.last }}
          </option>
        </select>
      </div>
  </div>
  <div class="contacts__detail">
    <ng-container *ngIf="loading; else contact">Loading...</ng-container>
  </div>
</div>

<ng-template #contact>
  <div class="contacts__profile-image">
    <img
      [src]="selectedContact.img_url"
      [alt]="selectedContact.name.first + ' ' + selectedContact.name.last">
  </div>
  <div class="contacts__profile-content">
    <h1>
      {{ selectedContact.name.first }}
      {{ selectedContact.name.mi }}
      {{ selectedContact.name.last }}
    </h1>
    <h2>{{ selectedContact.job_title }}</h2>
    <div>
      {{ selectedContact.address.addr1 }}
      <ng-container *ngIf="selectedContact.address.addr2">
        {{ selectedContact.address.addr2_type }}
        {{ selectedContact.address.addr2 }},
      </ng-container>
      {{ selectedContact.address.city }},
      {{ selectedContact.address.state }}
      {{ selectedContact.address.zip }}
    </div>
    <div>{{ selectedContact.phone }}</div>
    <div>
      <a [href]="'mailto:' + selectedContact.email">{{ selectedContact.email }}</a>
    </div>
    <p>{{ selectedContact.bio }}</p>
  </div>
</ng-template>
