.contacts {
    display: flex;

    & > * + * {
        margin-left: 42px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__list > * + * {
        margin-top: 8px; 
    }

    &__list > * > button {
        border-radius: 3px;
        border: 0;
        color: white;
        display: block;
        background: #0c78af;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        padding: 8px 16px;
        transition: background .3s linear;
        text-transform: uppercase;
        width: 100%;

        &:hover,
        &.is-selected {
            background: darken(#0c78af, 10%);
        }
    }

    &__detail {
        background: #f5f5f5;
        padding: 24px;
        border: 1px solid #ccc;
        flex: 1;
        display: flex;

        h1, h2 {
            line-height: 1.2;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 20px;
        }
    }

    &__profile-image > * {
        width: 250px;
        border-radius: 50%;
    }

    &__profile-content {
        flex: 1;
        margin-left: 32px;
    }
}