<div class="contacts">
  <div class="ccontacts__menu">
    <ul class="contacts__list">
      <li *ngFor="let contact of contactNames">
        <button 
          (click)="getContact(contact.id)" 
          [class.is-selected]="selectedContactId == contact.id">
            {{ contact.first_name }} {{ contact.last_name }}
        </button>
      </li>
    </ul>
  </div>
  <div class="contacts__detail">
    <ng-container *ngIf="loading; else contact">Loading...</ng-container>
  </div>
</div>

<ng-template #contact>
  <div class="contacts__profile-image">
    <img 
      [src]="selectedContact.imgUrl" 
      [alt]="selectedContact.first_name + ' ' + selectedContact.last_name">
  </div>
  <div class="contacts__profile-content">
    <h1>{{ selectedContact.first_name }} {{ selectedContact.last_name }}</h1>
    <h2>{{ selectedContact.jobTitle }}</h2>
    <div>
      {{ selectedContact.address.addr1 }} 
      <span *ngIf="selectedContact.address.addr2.type">
        {{ selectedContact.address.addr2.type }} 
        {{ selectedContact.address.addr2.identifier }}, 
      </span>
      {{ selectedContact.address.city }}, 
      {{ selectedContact.address.state }} 
      {{ selectedContact.address.zip }}
    </div>
    <div>{{ selectedContact.phone }}</div>
    <div>
      <a [href]="'mailto:' + selectedContact.email">{{ selectedContact.email }}</a>
    </div>
    <p>{{ selectedContact.bio }}</p>
  </div>
</ng-template>