:host {
    flex: 0;

    @media (min-width: 768px) {
        flex: 0 0 300px;
    }
}

.contact-list-menu {
    background: #333;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 115px);
    max-height: 0;
    overflow: auto;
    transition: all .5s ease;

    &.is-open {
        display: flex;
        max-height: calc(100vh - 60px);
    }

    & > * {
        flex: 0 33.333%;
        max-width: 20%;
    }

    & > * button {
        border: 0;
        background: transparent;
        padding: 0;
        display: block;
        outline: 0;
    }

    & > * img {
        display: block;
        width: 100%;
    }

    @media (min-width: 768px) {
        display: flex;
        flex: 1;
        max-width: 300px;
        max-height: initial;

        & > * {
            max-width: initial;
        }
    }
}