@import '../../../../src/assets/styles/sass-utilities/tools';

:host {
    flex: 0;

    @media (min-width: $breakpoint-medium) {
        flex: rem(0 0 300);
    }
}

.contact-list-menu {
    background: $gray-0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: calc(100% - 50px);
    max-height: 0;
    overflow: auto;
    transition: all .5s ease;

    &--is-open {
        display: flex;
        max-height: calc(100vh - 60px);
        overflow: auto;
    }

    & > * {
        cursor: pointer;
        color: $white;
        line-height: 1.4;
        display: flex;
        align-items: center;
        width: 100%;
        transition: background 0.3s linear;

        &:hover {
            background: $black;
        }
    }

    & > * + * {
        border-top: rem(1) solid $gray-1;
    }

    & > * img {
        display: block;
        height: rem(52);
        font-size: rem(15);
        opacity: .9;
        filter: grayscale(100%);
        transition: filter .5s linear;
        margin-right: rem(16);

        &.is-selected {
            filter: grayscale(0%);
            opacity: 1;
        }
    }

    @media (min-width: $breakpoint-medium) {
        display: flex;
        flex: 1;
        max-width: rem(300);
        height: calc(100% - 50px);

        & > * {
            max-width: initial;
        }
    }
}
