@import '../../../../src/assets/styles/utilities/tools';


.toast {
    background-color: $blue-1;
    color: $white;
    display: flex;
    align-items: center;
    padding: rem(16);
    font-size: rem(14);

    & > :first-child {
        flex: 1;
    }

    & > * + * {
        margin-left: rem(16);
    }

    &__close-btn {
        border: 0;
        background: 0;
        color: $white;
        cursor: pointer;
        font-size: rem(36);
        font-weight: $font-medium;
        outline: 0;
        transform: rotate(45deg);
    }
}