<div class="u-flex u-flex--column">

  <!-- Header -->
  <app-header>
    <ng-container header-left>
      <span class="txt-24 txt-medium">{{ title }}</span>
    </ng-container>
    <ng-container header-right>
        <a class="txt-16" href="javascript:void(0)" (click)="openAddContactModal()">Add New Contact</a>
    </ng-container>
  </app-header>

  <div class="contact-list">

    <app-contact-list-menu 
      [contacts]="allContacts"
      (selection)="getContact($event)">
    </app-contact-list-menu>

    <div class="contact-list__detail">
      <ng-container *ngIf="loading; else contact">Loading...</ng-container>
      <ng-template #contact>
          <div class="contact-list__profile-image">
            <img
              [src]="selectedContact.img_url"
              [alt]="selectedContact.name.first + ' ' + selectedContact.name.last">
          </div>
          <div class="contact-list__profile-content">
            <h1>
              {{ selectedContact.name.first }}
              {{ selectedContact.name.mi }}
              {{ selectedContact.name.last }}
            </h1>
            <h2>{{ selectedContact.job_title }}</h2>
            
            <div>
              {{ selectedContact.address.addr1 }}
              <ng-container *ngIf="selectedContact.address.addr2">
                {{ selectedContact.address.addr2_type }}
                {{ selectedContact.address.addr2 }},
              </ng-container>
              {{ selectedContact.address.city }},
              {{ selectedContact.address.state }}
              {{ selectedContact.address.zip }}
            </div>
            
            <div>
              {{ selectedContact.phone }}
            </div>

            <div>
              <a [href]="'mailto:' + selectedContact.email">{{ selectedContact.email }}</a>
            </div>

            <p>{{ selectedContact.bio }}</p>

          </div>
        </ng-template>
    </div>

  </div>
</div>

<app-modal 
  *ngIf="showAddContactModal"
  [title]="'Add New Contact'"
  (close)="closeAddContactModal($event)">
    <ng-container modal-header>
      Add New Contact
    </ng-container>
    <ng-container modal-body>
        <div class="padding-32">
          <app-add-contact-form (onsubmit)="createContact($event)"></app-add-contact-form>
        </div>
    </ng-container>
</app-modal>

<!-- 
  TODO: Make toaster service so that this can be made global.
  Toaster service will have an observable to check for new
  toasts and update toast array.
-->
<app-toaster>
    <app-toast 
      [show]="showToast">
      <span [innerHTML]="confirmationString"></span>
    </app-toast>
</app-toaster>