@import '../../../../src/assets/styles/utilities/tools';

.contact-list {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    @media (min-width: $breakpoint-medium) {
        flex-direction: row;
        flex: 1;
    }
}