<div class="flex flex--column">

  <!-- Header -->
  <app-header>
    <ng-container header-left>
      <span class="txt-16 txt-24@medium txt-medium txt-white">{{ title }}</span>
    </ng-container>
    <ng-container header-right>
        <ul class="h-list">
          <li>
            <a class="txt-12 txt-14@medium txt-medium txt-no-decoration txt-white" 
               href="javascript:void(0)" 
               (click)="openAddContactModal()">Add Contact</a>
          </li>
          <li>
              <a class="txt-12 txt-14@medium txt-medium txt-no-decoration txt-white"
                 href="javascript:void(0)"
                 (click)="toggleMenu()">Menu</a>
          </li>
        </ul>
    </ng-container>
  </app-header>

  <div class="contact-list">

    <app-contact-list-menu 
      [selectedContactId]="selectedContact?.id"
      [contacts]="allContacts"
      [isOpen]="menuIsOpen"
      (selection)="getContact($event)">
    </app-contact-list-menu>

    <app-contact-list-detail 
      [selectedContact]="selectedContact"
      (update)="updateContact($event)"
      (delete)="deleteContact($event)">
    </app-contact-list-detail>

  </div>
</div>

<app-modal 
  *ngIf="showAddContactModal"
  (close)="closeAddContactModal($event)">
    <ng-container modal-header>
      <span class="txt-medium txt-16 txt-24@medium">{{ itemToUpdate ? 'Update' : 'Add New' }} Contact</span>
    </ng-container>
    <ng-container modal-body>
        <div class="padding-32">
          <app-add-contact-form 
            [formData]="itemToUpdate"
            (onsubmit)="saveContact($event)">
          </app-add-contact-form>
        </div>
    </ng-container>
</app-modal>