<div class="contacts">
  <div class="contacts__header">
    <div  class="contacts__title">
      {{ title }}
    </div>
  </div>
  <div class="contacts__body">
    <div>
      <ul class="contacts__menu vr">
        <li *ngFor="let contact of allContacts; let i = index">
          <button (click)="getContact(contact.id)">
            <img 
              [src]="contact.img_url" 
              [alt]="contact.name.first + ' ' + contact.name.last">
          </button>
        </li>
      </ul>
      <a href="javascript:void(0)" (click)="openAddContactModal()">Add New Contact</a>
    </div>
    <div class="contacts__detail">
      <ng-container *ngIf="loading; else contact">Loading...</ng-container>
    </div>
  </div>
</div>

<app-modal 
  *ngIf="showAddContactModal"
  [title]="'Add New Contact'"
  (close)="closeAddContactModal($event)">
    <ng-container modal-header>
      Add New Contact
    </ng-container>
    <ng-container modal-body>
        <div class="padding-32">
          <app-add-contact-form (onsubmit)="createContact($event)"></app-add-contact-form>
        </div>
    </ng-container>
</app-modal>

<!-- 
  TODO: Make toaster service so that this can be made global.
  Toaster service will have an observable to check for new
  toasts and update toast array.
-->
<app-toaster>
    <app-toast 
      [show]="showToast">
      <span [innerHTML]="confirmationString"></span>
    </app-toast>
</app-toaster>

<!-- Contact Detail Content Template -->
<ng-template #contact>
  <div class="contacts__profile-image">
    <img
      [src]="selectedContact.img_url"
      [alt]="selectedContact.name.first + ' ' + selectedContact.name.last">
  </div>
  <div class="contacts__profile-content">
    <h1>
      {{ selectedContact.name.first }}
      {{ selectedContact.name.mi }}
      {{ selectedContact.name.last }}
    </h1>
    <h2>{{ selectedContact.job_title }}</h2>
    <div>
      {{ selectedContact.address.addr1 }}
      <ng-container *ngIf="selectedContact.address.addr2">
        {{ selectedContact.address.addr2_type }}
        {{ selectedContact.address.addr2 }},
      </ng-container>
      {{ selectedContact.address.city }},
      {{ selectedContact.address.state }}
      {{ selectedContact.address.zip }}
    </div>
    <div>{{ selectedContact.phone }}</div>
    <div>
      <a [href]="'mailto:' + selectedContact.email">{{ selectedContact.email }}</a>
    </div>
    <p>{{ selectedContact.bio }}</p>
  </div>
</ng-template>
