@import '../../../../src/assets/styles/sass-utilities/tools';

.contact-list-detail {
    padding: rem(32);
    text-align: center;

    &__title {
        font-size: rem(32);
        font-weight: $font-semibold;
        margin: 0;
        line-height: 1.2;
    }

    &__sub-title {
        margin-bottom: rem(16);
        font-weight: $font-normal;
        font-size: rem(24);
        line-height: 1.2;
    }

    &__profile-image {
      margin-bottom: rem(16);
    }

    &__profile-image > img {
        width: rem(150);
    }

    @media (min-width: 1024px) {
        flex: 1;
        display: flex;
        text-align: left;
      
        &__profile-image {
            margin-bottom: 0;
        }

        &__profile-image > img {
            width: rem(250);
        }

        &__profile-content {
            flex: 1;
            margin-left: rem(32);
        }
    }
}
