input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    border: 1px solid #bbb;
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
    width: 100%;
}

textarea {
    min-height: 150px;
    resize: none;
}

label {
    font-size: 14px;
    font-weight: 500;
}

.input {
    margin-bottom: 8px;

    small {
        display: none;
    }

    &--sm {
        flex: 0 75px;
    }

    &--md {
        flex: 0 150px;
    }

    &--has-error > label {
        color: #ef300e;
    }

    &--has-error > input,
    &--has-error > textarea {
        border-color: #ef300e;
    }

    &--has-error > small {
        color: #ef300e;
        display: block;
    }
}