.input {
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
    width: 100%;
}

label {
    font-size: 14px;
    font-weight: 500;
}