.padding-8 {
    padding: 8px;
}

.padding-16 {
    padding: 16px;
}

.padding-24 {
    padding: 24px;
}

.padding-32 {
    padding: 32px;
}

.padding-40 {
    padding: 40px;
}

.padding-48 {
    padding: 48px;
}