.txt-15 {
    font-size: 15px;
}

.txt-16 {
    font-size: 16px;
}

.txt-24 {
    font-size: 24px;
}

.txt-medium {
    font-weight: 500;
}

.txt-bold {
    font-weight: 800;
}

.txt-no-decoration {
    text-decoration: none;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-white {
    color: #fff;
}
